.chat{
    position: fixed;
    margin: 40px;
    bottom: 9vh;
    left: 10px;
    right: auto;
    z-index: 1000;
    border-radius: 8px;
    border: 2px solid rgb(78, 83, 236);
    background: none;

}

