.divCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    margin: 100px;
    @media (max-width: 1000px) {
        .divCards {
          flex-direction: column; 
         
        }
      
        .card {
          width: 100%; 
          margin: 100px;
          border: 100px;
        }
      }
}
.cartLogo{
 margin-left: 25%;
}
