.containerServicios {
  min-height: 100vh;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
}
.row {
  margin-top: 30px;
  width: 90%;
  background-color: #fafafa;
}

.button {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 70px;
  background-color: #e4e2dfce;
  font-size: 15px;
  font-weight: bold;
  border-radius: none;
  min-width: 100%;
  height: 110px;
  border: none;
  text-decoration: none;
  color: #222;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  animation: ripple 0.6s linear;
}

@keyframes ripple {
  to {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0); /* Ajusta el tamaño y opacidad */
  }
}
.ico {
  margin: 6px;
  font-size: 20px;
}
.titulo {
  color: rgb(65, 63, 63);

  font-family: "Lato", sans-serif;
}
.bfs {
  color: rgb(27, 49, 172);
  font-weight: 550;
}
.containerButton {
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
.textServicios {
  font-size: 18px;
  margin-top: 10px;
  padding: 0px 20px;
  line-height: 2;
  letter-spacing: 1.5px;
  text-align: left;
}
.primera {
  line-height: 2;
  letter-spacing: 1.5px;
  font-size: 23px;
  text-align: left;
  margin-top: 10px;
  padding: 0 20px;
  min-height: 100%;
}
