.mis-envios-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espaciado entre las tarjetas */
}

.envio-card {
  /* Agrega estilos adicionales si es necesario */
}
