@import 'bootstrap/dist/css/bootstrap.min.css';


.custom-carousel-control-prev,
.custom-carousel-control-next {
  background-color: black;

}


.carousel-control-prev-icon {
  background-color: darkblue; 
  margin-left: 170px;
}

.carousel-control-next-icon {
  background-color: darkblue; 
  margin-right: 170px;
}


