ul{
    list-style: none;
}

h2{
    font-size: 3.5em;
}

img{
    margin-top: 1%;
    height: 470px;
    width: 100%;
}
.li{
    text-decoration: underline;
    color: gray;
}

.li:hover{
    color:blue
}