.ul {
  list-style: none;
}

.hache2 {
  font-size: 3.5em;
}

.imgerror {
  margin-top: 1%;
  height: 470px;
  width: 100%;
}
.li {
  text-decoration: underline;
  color: gray;
}

.li:hover {
  color: blue;
}
