.mapContainer {
  margin-bottom: 20px;
  margin-left: 25%;
  }

.headerContainer {
  text-align: center;
}

.mapaContainer {
  height: 550px;
  margin: 0 auto;
  max-width: 100%; 
  overflow: hidden; 
  position: relative; 
}
