.contenedor{
    height: 80vh;
    width: 85vh;
    border: 2px solid darkblue;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    width: 50%;
    box-sizing: border-box;
}
.boton{
    background-color: blue;
    color: aliceblue;
    border-radius: 10px;
    padding: 4px;
    width: 20vh;
}