/* .port {
    width: 250px;
    /* background-color: ; 
  } */

/* Añadir un degradado azul al fondo del Navbar */
.bg-gradient-blue {
  background: linear-gradient(to right, #5b5bff00, #3838ff);
}

/* Estilo adicional para el texto en el Navbar */
.navbar-text {
  color: white; /* Color del texto */
  font-weight: bold; /* Puedes ajustar según tus preferencias */
}

/* Aplicar el estilo de degradado al Navbar */
.navbar.bg-body-tertiary {
  background-color: transparent; /* Hacer el fondo transparente para que el degradado sea visible */
}

/* Estilo para el toggle del Navbar (icono de menú en dispositivos móviles) */
.navbar-toggler-icon {
  background-color: white; /* Color del icono del toggle */
}

/* Estilo para los enlaces del Navbar */
.navbar-nav .nav-link {
  color: white; /* Color del texto de los enlaces */
  font-weight: bold; /* Puedes ajustar según tus preferencias */
}

/* Estilo para los enlaces del Navbar en el estado activo o hover */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  background-color: #000080; /* Color de fondo en estado hover o activo */
  color: white; /* Color del texto en estado hover o activo */
}
